body {
    text-align: center;
    margin-top: 100px;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

h2 {
    margin-bottom: 10px;
}

.sos-btn {
    padding: 20px 40px;
    background: red;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.2s;
}

    .sos-btn:hover {
        background: darkred;
    }

textarea {
    width: 60%;
    height: 100px;
    border-radius: 6px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    resize: none;
    margin-top: 20px;
}

.status {
    margin-top: 20px;
    font-weight: bold;
}
