body {
    text-align: center;
    margin-top: 100px;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

h2 {
    margin-bottom: 10px;
}

.sos-btn {
    padding: 20px 40px;
    background: red;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.2s;
}

    .sos-btn:hover {
        background: darkred;
    }

.sos-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.sos-form input[type="number"],
.sos-form input[type="text"],
.sos-form textarea {
    width: 40%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

.status {
    margin-top: 20px;
    font-weight: bold;
}
